<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADInternalNew.DAL.Properties.Settings.AdmisConnectionString"
            connectionString="Data Source=ALPHADEZ032\ALPHADEZ;Initial Catalog=Admis;Persist Security Info=True;User ID=sa;Password=C0ns0le"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>